<new-review errors="<%= @errors %>"></new-review>
<hr>
<div class="marged-layout" style="width: 900px; height: auto; margin: auto; text-align: center">
  <h3>Review list</h3>
  <%= render @reviews.by_latest %>
</div>